In [ ]:
# Your objective is to analyze the data to show how four treatments (Capomulin, Infubinol, Ketapril, and Placebo) compare
#Creating a scatter plot that shows how the tumor volume changes over time for each treatment.
#Creating a scatter plot that shows how the number of metastatic (cancer spreading) sites changes over time for each treatment.
#Creating a scatter plot that shows the number of mice still alive through the course of treatment (Survival Rate)
#Creating a bar graph that compares the total % tumor volume change for each drug across the full 45 days.

In [ ]:
%matplotlib notebook

In [3]:
#Import libraries
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sb

In [4]:
data_csv = "Resources/clinicaltrial_data.csv"
mouse_csv = "Resources/mouse_drug_data.csv"

In [5]:
data_df = pd.read_csv(data_csv)
mouse_df = pd.read_csv(mouse_csv)

In [6]:
#verifying data was read in correctly
data_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [7]:
#verifying data was read in correctly
mouse_df.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [8]:
# make one big table & check to see if there are errors
bigtable_df = pd.merge(data_df, mouse_df, on='Mouse ID')

#count how many 
bigtable_df['Drug'].value_counts()

Capomulin    230
Ramicane     228
Stelasyn     194
Ketapril     188
Naftisol     186
Zoniferol    182
Placebo      181
Infubinol    178
Ceftamin     178
Propriva     161
Name: Drug, dtype: int64

In [9]:
new_bigtable_df = bigtable_df.set_index("Drug")
new_bigtable_df.head()

          Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
Drug
Capomulin     b128          0           45.000000                 0
Capomulin     b128          5           45.651331                 0
Capomulin     b128         10           43.270852                 0
Capomulin     b128         15           43.784893                 0
Capomulin     b128         20           42.731552                 0

In [10]:
Capomulin_df = new_bigtable_df.loc['Capomulin',['Mouse ID', 'Timepoint', 'Tumor Volume (mm3)']]

Mouse_ID = Capomulin_df['Mouse ID']
Mouse_ID = Mouse_ID.value_counts()
Mouse_ID_df = pd.DataFrame(Mouse_ID)
Mouse_ID_df = Mouse_ID_df.reset_index()
Mouse_ID_df = Mouse_ID_df.rename(index=str, columns={ "Mouse ID": "Count"})
Mouse_ID_df['Start Volume'] = 0.0

Capomulin_df= Capomulin_df.reset_index()

#for i, row in Mouse_ID_df.iterrows():
    #value = Capomulin_df.loc[Capomulin_df['Mouse ID'] == Mouse_ID_df['index'][i], 'Tumor Volume (mm3)'].max()
    #Mouse_ID_df.at[i,'max'] = value
    
for i, row in Mouse_ID_df.iterrows():
    value = Mouse_ID_df['index'][i]
    
    for w, row in Capomulin_df.iterrows():
        Q = Capomulin_df['Mouse ID'][w]
        if((Q == value) and (Capomulin_df['Timepoint'][w] == 0)):
            StartVol = Capomulin_df['Tumor Volume (mm3)'][w]
        

    #print(value)
    Mouse_ID_df.at[i,'Start Volume'] = StartVol

Mouse_ID_df.head()

  index  Count  Start Volume
0  u364     10          45.0
1  m957     10          45.0
2  g288     10          45.0
3  r944     10          45.0
4  r554     10          45.0

In [19]:
Capomulin_df['Volume Change'] = 0.0

for i, row in Capomulin_df.iterrows():
    IDValue = Capomulin_df.loc[i,'Mouse ID']
    
    for w, row in Mouse_ID_df.iterrows():
        if Mouse_ID_df.loc[w,'index'] == IDValue:
            StartVolume = Mouse_ID_df.loc[w,'Start Volume'] 
            
    blah = Capomulin_df.loc[i, 'Tumor Volume (mm3)']
    #print(blah)
    Capomulin_df.at[i,'Volume Change'] = StartVolume - blah
    
Capomulin_df.head()

        Drug Mouse ID  Timepoint  Tumor Volume (mm3)  Volume Change
0  Capomulin     b128          0           45.000000       0.000000
1  Capomulin     b128          5           45.651331      -0.651331
2  Capomulin     b128         10           43.270852       1.729148
3  Capomulin     b128         15           43.784893       1.215107
4  Capomulin     b128         20           42.731552       2.268448

In [ ]:
#Creating a scatter plot that shows how the tumor volume changes over time for each treatment.